@use "../core/variables" as *;

body{
  margin: 0;

  .app-layout {
    display: flex;
    flex-direction: column; 
  }
  .right-panel{
    height: 100vh;
    width: 100%;
  }
  
  @media (min-width: $tablet-breakpoint) {
    .app-layout {
      flex-direction: row;
      height: 100vh;
    }

    .right-panel {
      width: 50vw;
      overflow-y: scroll;
    }
  }  
}