@use "../core/variables" as *;
@use "../core/mixins" as *;

.FeaturedProject {
    display: flex;
    flex-direction: column;
    background: $rightpanel-background-featuredwork;
    color: $heading-color;
    min-height: $height-for-mobile;
  
      h2 {
        font-family: $headings-font;
        text-align: center;
        font-size: $h2-font-size;
        font-weight: 800;
        margin: 1.5rem 2.5rem;
      }
       .Image-layout-wrapper {
        position: relative;
        margin: 0 2.5rem;
        .phone-mockup{
          width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
      h3{
        font-size:4vh ;
        font-weight: 800;
        margin: 1.5rem 2.5rem;
        text-align: center;
        font-family: $headings-font;
      }
    .phone-scale {
      opacity: 0;
      transform: translateY(-60px);
      transition: transform 0.8s ease, opacity 0.8s ease;
    }
    
    .phone-scale.enter {
      opacity: 1;
      transform: translateY(0);
    }
      .description {
        font-family: $body-font;
        max-width: 60%;
        margin: 0 auto;
        font-size: $body-font-size;
        align-self: center;
      }
      .call-to-action {
        @include button-style(#8a2be2, white, $body-font-size);

        .btn-text{
          font-family: $body-font;
          margin: 0;
        }
      }
    }
  
    
  @media (min-width: 768px) {
    .FeaturedProject {
      height: 100vh;
      justify-content: space-evenly;
      position: sticky;
      top:0;
      z-index: 1;

      .Image-layout-wrapper{
        .phone-mockup{
        max-height: 23rem;
        max-width: 31.25rem;
      }
  }
}}