.phone-showcase {
    display: flex;
    flex-direction: column;
    background: #121212;
    color: white;
    height: 100vh;
    font-family: monospace;
    gap: 1rem;
  
      h2 {
        text-align: center;
        font-size: 5vh;
        font-weight: 800;
        margin: 1.5rem;
      }
  
      p {
        font-size: 1.1rem;
        max-width: 500px;
        line-height: 1.7;
        margin: 0 2.5rem 2.5rem;
      }
    }
  
    .phone-wrapper {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      margin: 0 2.5rem;
    
      .arrow-button-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .phone-mockup {
        width: 100px;
        rotate: -15deg;
        display: block;
        margin: 0 auto;
      }
  
      .tag {
        margin-top: 1rem;
  
        span {
          font-size: 0.9rem;
          opacity: 0.7;
        }
  
        .view-btn {
          background: #8a2be2;
          color: white;
          padding: 0.5rem 1.2rem;
          border-radius: 4px;
          text-decoration: none;
          font-weight: bold;
          display: inline-block;
        }
      }
    }
    .ProjectName{
      font-size: 1.5rem;
      font-weight: 800;
      margin: 1.5rem 2.5rem;
      text-align: center;

    }
  .phone-scale {
    opacity: 0;
    transform: translateY(-60px);
    transition: transform 0.8s ease, opacity 0.8s ease;
  }
  
  .phone-scale.enter {
    opacity: 1;
    transform: translateY(0);
  }
  .image-scale {
    opacity: 0;
    transform: translateY(-60px);
    transition: transform 0.8s ease, opacity 0.8s ease;
    transition-delay: 0.6s;
  }
  
  .image-scale.enter {
    opacity: 1;
    transform: translateY(0);
  }
  @media (min-width: 768px) {
    .phone-showcase {
      flex-direction: column;
    }
  }